{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<time datetime='%s'>%s</time>" (.Date.Format "2006-01-02T15:04:05Z07:00") (.Date | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
{{- end }}

{{- if .GitInfo -}}
{{- $gitDate := .GitInfo.AuthorDate.UTC -}}
{{- $pubDate := .Date.UTC -}}
{{- if ne ($gitDate.Format "2006-01-02") ($pubDate.Format "2006-01-02") -}}
{{- $scratch.Add "meta" (slice (printf "<span title='Last modified: %s'>Updated: <time datetime='%s'>%s</time></span>" (.GitInfo.AuthorDate) (.GitInfo.AuthorDate.Format "2006-01-02T15:04:05Z07:00") (.GitInfo.AuthorDate | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
{{- end }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
