{{- $src := .Get "src" -}}
{{- $caption := .Get "caption" -}}

<figure style="text-align: center;">
{{/* ---------- YouTube ---------- */}}
{{- if or (hasPrefix $src "https://www.youtube.com/") (hasPrefix $src "https://youtu.be/") (hasPrefix $src "http://www.youtube.com/") (hasPrefix $src "http://youtu.be/") -}}
  {{- $videoId := "" -}}
  {{- if or (hasPrefix $src "https://youtu.be/") (hasPrefix $src "http://youtu.be/") -}}
    {{- $videoId = replaceRE ".*youtu\\.be/([a-zA-Z0-9_-]{11}).*" "$1" $src -}}
  {{- else -}}
    {{- $videoId = replaceRE ".*[?&]v=([a-zA-Z0-9_-]{11}).*" "$1" $src -}}
  {{- end -}}
  {{- $shortcode := printf "{{< youtube %s >}}" $videoId -}}
  {{ .Page.RenderString $shortcode }}

{{/* ---------- Vimeo ---------- */}}
{{- else if or (hasPrefix $src "https://vimeo.com/") (hasPrefix $src "http://vimeo.com/") -}}
  {{- $videoId := replaceRE ".*vimeo.com/([0-9]+)" "$1" $src -}}
  {{- $shortcode := printf "{{< vimeo %s >}}" $videoId -}}
  {{ .Page.RenderString $shortcode }}

{{/* ---------- Local/Remote Video ---------- */}}
{{- else if or (hasSuffix $src ".mp4") (hasSuffix $src ".webm") (hasSuffix $src ".ogg") (hasSuffix $src ".avi") (hasSuffix $src ".mov") -}}
  {{- $res := .Page.Resources.GetMatch $src -}}
  <video width="100%" controls>
    {{- if $res -}}
      <source src="{{ $res.RelPermalink }}" type="{{ cond (hasSuffix $src ".mp4") "video/mp4" (cond (hasSuffix $src ".webm") "video/webm" (cond (hasSuffix $src ".ogg") "video/ogg" (cond (hasSuffix $src ".avi") "video/x-msvideo" "video/quicktime"))) }}">
    {{- else if fileExists (printf "static/%s" $src) -}}
      <source src="{{ relURL $src }}" type="{{ cond (hasSuffix $src ".mp4") "video/mp4" (cond (hasSuffix $src ".webm") "video/webm" (cond (hasSuffix $src ".ogg") "video/ogg" (cond (hasSuffix $src ".avi") "video/x-msvideo" "video/quicktime"))) }}">
    {{- else -}}
      <source src="{{ $src }}">
    {{- end -}}
    Your browser does not support the video tag.
  </video>

{{/* ---------- Local/Remote Image ---------- */}}
{{- else -}}
    {{- $res := .Page.Resources.GetMatch $src -}}
    {{- $pageDir := "" -}}
    {{- with .Page.File }}
      {{- $pageDir = .Dir -}}
    {{- end -}}
    {{- $isAbsolute := or (hasPrefix $src "/") (strings.HasPrefix $src "http://") (strings.HasPrefix $src "https://") -}}
    {{- $contentPath := "" -}}
    {{- $contentURL := "" -}}
    {{- if and $pageDir (not $isAbsolute) -}}
      {{- $contentPath = path.Join "content" $pageDir $src -}}
      {{- $contentURL = path.Join "/" $pageDir $src -}}
    {{- end -}}
    {{- if $res -}}
      <img src="{{ $res.RelPermalink }}" alt="{{ $caption }}" style="max-width: 100%; height: auto;">
    {{- else if fileExists (printf "static/%s" $src) -}}
      <img src="{{ relURL $src }}" alt="{{ $caption }}" style="max-width: 100%; height: auto;">
    {{- else if and $contentPath (fileExists $contentPath) -}}
      <img src="{{ relURL $contentURL }}" alt="{{ $caption }}" style="max-width: 100%; height: auto;">
    {{- else -}}
      <img src="{{ $src }}" alt="{{ $caption }}" style="max-width: 100%; height: auto;">
    {{- end -}}
{{- end -}}

{{/* ---------- Caption ---------- */}}
{{- if $caption -}}
  <figcaption>
    <p>{{ $caption | markdownify }}</p>
  </figcaption>
{{- end -}}
</figure>
